@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@300;400;500&family=Raleway:wght@300;400;700&family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Cormorant', serif;
    font-size: 16px;
    font-weight: bold;
}

/* Header */

.Header {
    height: 10vh;
    padding-left: 6%;
    padding-right: 6%;
    display: flex; 
}

.column-left {
    font-size: 40px;
    align-self: flex-end;
    width: 50%;
    border-bottom: 2px solid #2A92CC;
}

.column-right {
    align-self: flex-end;
    text-align: end;
    width: 50%;
    border-bottom: 2px solid #2A92CC;
}

.column-right a {
    font-size: 28px;
    padding-left: 5%;
    color: black;
    text-decoration: none;
}

/* HomeContent */

.HomeContent {
    height: 80vh;
    padding-left: 6%;
    padding-right: 6%;
    display: flex; 
}

.left-section {
    display: grid;
    align-content: space-around;
    justify-content: space-around;
    justify-items: center;
    width: 50%;
}

.right-section {
    display: grid;
    justify-content: space-around;
    align-content: space-around;
    justify-items: center;
    width: 50%;
}

.tall {
    height: auto;
    width: 580px;
    max-width: 100%;
}

.square {
    height: auto;
    width: 530px;
    max-width: 100%;
}

.little-square1 {
    padding: 20px;
    height: auto;
    width: 150px;
    max-width: 100%;
}

.little-square2 {
    padding: 20px;
    height: auto;
    width: 150px;
    max-width: 100%;
}

.little-square3 {
    padding: 20px;
    height: auto;
    width: 150px;
    max-width: 100%;
}

/* Footer */
.Footer {
    height: 10vh;
    padding-left: 6%;
    padding-right: 6%;
}

.social-media {
    padding: 10px;
    width: 40px;
    height: auto;
}

/* Scroll */

.Scroll {
    width: 100vw;
    height: 100vh;
}

.main {
    width: 100vw;
    height: 100vh;
    background-color: #FFDFD3;
}