/* Header */

.Header {
    height: 20vh;
    padding-left: 6%;
    padding-right: 6%;
    display: flex;
}

.column-left {
    width: 50%;
    border-bottom: 2px solid #2A92CC;
}

.column-right {
    width: 50%;
    border-bottom: 2px solid #2A92CC;
}

/* Scroll */

.Scroll {
    width: 100vw;
    height: 100vh;
}

.main {
    width: 100vw;
    height: 100vh;
    background-color: #FFDFD3;
}

